body{
    background-color: lightblue;
}

h1{
    color: purple;
    margin-left: 20px;
}

.introduction{
color: red;
border: 2px solid black;
padding: 10px;
}
#sample{
    color:brown;
    text-align: center;
}

nav{
    background-color: black;
    overflow: hidden;
}

nav a{
    color:white;
    text-align: center;
    padding: 16px 14px;
    float: left;
    display:block;
}

nav img{
    width:50px;
    height: 50px;
}

nav a:hover{
    background-color: white;
    color: black; 
}