body {
  background-color: whitesmoke;
}

h1 {
  color: darkblue;
  margin-left: 10px;
}
p {
  text-align: center;
  color: rgb(255, 30, 0);
}
.crapsButton {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(51, 61, 153);
}