/*the properties are set with this syntax:

selector{

property: value;

}

    For the body properties
        background-color - set a background color you like
        color - set the text color you like
    For the nav properties
        height - set to 6000px
        width - set to 200px
        float - set to left
        padding - set to 5px
        line-height - set to 30px
    For the footer properties
        text-align - set to center
        margin-right - set to 200px
    For the #memeImage properties
        margin-right - set to 200px
    For the header properties

        text-align - set to center

    Link the main.css page to the index.html and boards.html pages between the opening and closing head tags in the index.html and boards pages, like so:

<link rel="stylesheet" href="main.css">*/

body {
    background-color: #ffffff;
    color: #000000;
}

h2 {
    color: #000000;
}

nav {
   height: 6000px; 
   width: 200px; 
   float: left; 
   padding: 5px; 
   line-height: 30px;
}

footer {
    text-align: center; 
    margin-right: 200px;
}

#memeImage {
    margin-right: 200px;
            
}

header {
    text-align: center;
}
    